.publicity_section{
    width: 100vw;
    /* max-height: 300px; */
    background-color: rgb(242, 233, 228);
    padding-bottom: 20px;
}
.publicity_section div.container{
    display: flex;
    flex-direction: row;
}
.img_container{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    color: #fff;
}
.img_{
    width: 100%;
    height: auto;
}
.link_section{
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}
.img_container.active .link_section{
    background-color: #ee7623;
}
.img_container .link_section{
    background-color: #303335;
}

